<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching between <%= boyName %> and <%= girlName %> </title>
</head>

<body>
    <% if (boyName === "evi" || girlName === "helen") { %>
    <h1><%= boyName %> and <%= girlName %> are matching at 100% !</h1>
    <% } else { %>
    <h1><%= boyName %> and <%= girlName %> are matching at <%= matchRate %>% !</h1>
    <% } %>
</body>

</html>