<% layout('layouts/boilerplate') %>
<h1 class="text-center mb-4">All Campgrounds</h1>
<ul>
    <% for(let i = 0; i < campgrounds.length; i++) { %>
        <% campground = campgrounds[i]; %>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length > 0) { %>
                        <img class="card-img img-fluid" src="<%= campground.images[0].url %>" alt="campground-image">
                    <% } else { %>
                        <img class="card-img img-fluid"
                             src="http://beepeers.com/assets/images/commerces/default-image.jpg" alt="default-image">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title"><%= campground.title %></h2>
                        <p class="card-text"><%= campground.description %></p>
                        <p>
                            <small class="text-disabled"><%= campground.location %> </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %>">
                            <button class="btn-primary">View <%= campground.title %> </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</ul>